.pop-op {
    background: #1F6A5D;
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    margin-left:auto;
    margin-right: auto;
}


.pop-op-tekst {
    text-align: center;
    margin-bottom: 10px;

}

.popop h1 {
   font-size: 60px;
   display: flex;
   justify-content: center;
}
.popop-brodtekst {
    text-align: justify;
    padding: auto;
    margin: 50px;
}
.popop-mail {
    text-align: justify;
    text-align: center;
    padding: auto;
    margin: 50px;
    
}