.pop-op-container {
    display: none;

}






.pop-op {
    background: #1F6A5D;
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    position: fixed;
    left: 25%;
    top: 10%;
    
}


.pop-op-tekst {
    text-align: center;
    margin-bottom: 10px;

}


.popop h1 {
   font-size: 60px;
   display: flex;
   justify-content: center;

}
.popop-brodtekst {
    text-align: justify;
    padding: auto;
    margin: 50px;
}
.popop-mail {
    text-align: justify;
    text-align: center;
    padding: auto;
    margin: 50px;
    
}
.billedeikon img {
    width: 100px;
}

.line-nav {
    
}
.close-btn {
    width: 78.59px; 
    height: 78.692px;
    /* viewBox: 0 0 78.59 78.692; */
   position: absolute;
   right: 1em;
   top: 1em;
    
    
    
}

.text-area-popup {
    display: inline;
}
/* 
hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 2px;
    width: 50%;
    background-color: #54AA1D;
  }  */